* {
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
}
#main {
  width: 446px;
  height: 440px;
  background-color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 11px;
  margin: auto;
  margin-top: 56px;
}

input {
  width: 20%;
  height: 35px;
  font-size: 20px;
  margin: 5px;
}
#IP {
  width: 94%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin: 20px 5px 15px 5px;
  text-align: right;
  height: 80px;
  font-size: 30px;
  border-radius: 11px;
}

.btn {
  background-color: rgba(255, 145, 0, 0.733);
  width: 97px;
  height: 68px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 1.5px 0.5px rgba(250, 249, 246, 0.493);
}

.btn:hover,
.btn:active {
  background-color: rgb(255, 145, 0);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 2px 1px rgba(250, 249, 246, 0.493);
}

/* for iphone12pro Screen */

@media only screen and (max-width: 500px) {
  body {
    background-color: black;
  }
  #main {
    height: 800px;
    width: 376px;
    margin: auto;
  }
  #IP {
    width: 94%;
    font-size: 60px;
    margin: 322px 5px 10px 11px;
  }
  .btn {
    font-size: 30px;
    width: 81px;
    height: 81px;
    border-radius: 37px;
  }
}
